html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	background-color: #f6f6f6;
	font-family: Arial;
}

h2 {
	font-size: 20px;
	padding: 34px 0 32px 23px ;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

h3 {
	font-size: 16px;
}

	#black-bar {
	background-color: #7379ff;
	color: white;
	padding: 20px;
}

hr {
	margin: 0;
}

#black-bar a {
	color: white;
}

.head {
	position: relative;
	height: 150px;
	background-color: white;
}

.fixed-container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#datetime {
	float: right;
}

#logo {
	position: absolute;
	top: 40px;
	width: 200px;
}

#weather {
	position: absolute;
	width: 100px;
	top: 60px;
	right: 0;
	margin-right: 340px;
}

#search {
	position: absolute;
	height: 50px;
	width: 300px;
	top: 50px;
	right: 0;
	border-radius: 30px;
	padding-left: 20px;
	border: none;
	background: #F3F3F3;
	color: #000000;
}

.menu {
	background-color: white;
	height: 60px;
	box-shadow: 0px 5px 10px 0px rgb(198, 198, 198, 198);
}

.menu-button {
	padding-right: 35px;
	padding-left: 35px;
	color: black;
	text-decoration: none;
	border-right: 2px solid #d3d3d4;
}

.menu-button-0 {
	color: black;
	text-decoration: none;
	padding-left: 15px;
}

#menu-left {
	padding-left: 0;
}

.block-left {
	width: 267px;
	margin-right: 23px;
	position: relative;
}

	.block-left a {
		color: #91919f;
		text-decoration: none;
		font-size: 12px;
		position: absolute;
	}

	.block-time {
		position: absolute;
		font-size: 12px;
		background-image: url('img/time-2.png');
		background-repeat: no-repeat;
		margin-left: 87px;
		padding-left: 20px;
	}

	.block-comments {
		font-size: 12px;
		background-image: url('img/comments-1.png');
		background-repeat: no-repeat;
		margin-left: 164px;
		padding-left: 20px;
	}

	.block-container {
		margin-bottom: 35px;
	}

.block-right {
	width: 267px;
	position: relative;
}

.block-right a {
		color: #91919f;
		text-decoration: none;
		font-size: 12px;
		position: absolute;
}

.center-block {
	display: flex;
	width: 556px;
}

#column-center {
	width: 556px;
	margin-left: 23px;
	float: left;
}

.img-central-news-1 {
	width: 556px;
	position: relative;
}

.central-news-1{
	background-image: url('img/central-news-1.png');
	width: 556px;
	height: 387px;
	margin-bottom: 30px;
}

.central-news-text {
	padding: 120px 0 0 26px;
	position: relative;
}

	.central-news-1 a {
		color: #91919f;
		text-decoration: none;
		font-size: 12px;
		position: absolute;
	}

	.central-news-1 h2 {
		font-size: 36px;
		color: white;
		padding: 30px 0 35px 0;
		margin: 0;
		border: none;
		position: absolute;
	}

	.central-news-time {
		top: 300px;
		left: 140px;
		color: white;
		position: absolute;
		font-size: 12px;
		padding-left: 15px;
		background-image: url('img/time-1.png');
		background-repeat: no-repeat;
		width: 10px;
	}

	.central-news-date {
		top: 300px;
		left: 26px;
		color: white;
		position: absolute;
		font-size: 12px;
	}

#column-right {
	width: 299px;
	float: right;
}

#column-right img {
	margin-bottom: 20px;
}

#column-left {
	width: 299px;
	float: left;
	background-color: white;
}

.news-item {
	padding-left: 22px;
	margin-bottom: 40px;
	font-size: 14px;
}

.news-item-text {
	margin-bottom: 26px;
}

.news-item-props {
	font-size: 12px;
	position: relative;
}

	.news-item-props a {
		color: #91919f;
		text-decoration: none;
	}

	.news-item-time {
		position: absolute;
		top: 0;
		left: 140px;
		padding-left: 20px;
		background-image: url('img/time.png');
		background-repeat: no-repeat;
	}

	.news-comments-count {
		position: absolute;
		top: 0;
		left: 200px;
		padding-left: 20px;
		background-image: url('img/comments.png');
		background-repeat: no-repeat;
	}

#central-container .fixed-container {
	overflow-y: hidden;
}

#central-container { 
	padding-top: 20px;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

.special-news-left {
	width: 706px;
	height: 471px;
	float: left;
	background-image: url(img/special-news.png);
}

.special-news-text {
	padding-left: 24px;
	padding-top: 100px;
	position: relative;
}

.special-news-text a {
	color: white;
	text-decoration: none;
	font-size: 12px;
}

.special-news-text h2 {
	border: none;
	color: white;
	font-size: 36px;
	padding: 0;
	margin: 36px 0 20px 0;
}

.special-news-time {
	color: white;
	background-image: url('img/time-1.png');
	background-repeat: no-repeat;
	padding-left: 15px;
	font-size: 12px;
	position: absolute;
	margin-left: 114px;
}

.special-news-date {
	color: white;
	font-size: 12px;
	position: absolute;
}

.special-news-p {
	font-size: 12px;
	color: white;
	padding-top: 37px;
}

.special-news-right {
	width: 494px;
	float: right;
	background-color: white;
	height: 471px;
}

.special-news-right h2 {
	font-size: 24px;
}

.special-item {
	padding-left: 25px;
	margin-bottom: 40px;
	font-size: 18px;
}

.special-item-text {
	margin-bottom: 26px;
}

.special-item-props {
	font-size: 14px;
	position: relative;
}


.special-item-props a {
		color: #91919f;
		text-decoration: none;
}

.special-item-time {
		position: absolute;
		top: 0;
		left: 84px;
		padding-left: 20px;
		background-image: url('img/time.png');
		background-repeat: no-repeat;
}

.special-comments-count {
		position: absolute;
		top: 0;
		left: 159px;
		padding-left: 20px;
		background-image: url('img/comments.png');
		background-repeat: no-repeat;
}

#banner-1 {
	width: 299px;
}

#banner-2 {
	width: 299px;
}

.news-item-button {
	border: 1px solid #448CCB;
	background-color: white;
	color: #448CCB;
	border-radius: 40px;
	margin-bottom: 45px;
	margin-top: 15px;
	margin-left: 45px;
	padding: 25px 63px 25px 63px;
	font-size: ;
}

#footer {
	height: 332px;
	background-color: #7379ff;
	margin-top: 50px;
}

.footer-column hr {
	color: #e5e5e5;
}

.footer-main {
	height: 200px;
	padding-top: 70px;
}

.footer-1 {
	width: 166px;
	float: left;

}

.footer-1 a {
	display: block;
  	margin-bottom: 20px;
  	text-decoration: none;
  	color: white;
}

.footer-2 {
	width: 356px;
	float: left;
}

.footer-2 a {
	display: block;
  	margin-bottom: 20px;
  	text-decoration: none;
  	color: white;
}

.footer-3 {
	width: 268px;
	float: right;
}

.footer-number {
	background-image: url(img/footer-number.png);
	background-repeat: no-repeat;
	padding-left: 35px;
	color: white;
	margin-top: 40px;
	margin-bottom: 35px;
}

.footer-mail {
	background-image: url(img/footer-mail.png);
	background-repeat: no-repeat;
	padding-left: 35px;
	color: white;
}

.footer-4 {
	width: 410px;
	float: right;
}

.footer-4 a {
	display: block;
  	margin-bottom: 20px;
   	text-decoration: none;
  	color: white;
}

.footer-4 img {
	margin-bottom: 20px;
}

.footer-5 {
	height: 61px;
	width: 1200px;
}

.footer-rulers {
	color: #e5e5e5;
	font-size: 14px;
	text-align: center;
	padding-top: 20px;
}

.footer-img {
	margin-right: 19px;
}